* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    user-select: none;
}

.center {
    width: 1000px;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    height: 187px;
    background-image: url(./images/header-wrapper-bg.png);
}

.header_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list_item {
    padding: 5px 15px;
    font-family: "Arvo", serif;
    list-style-type: none;
    border-radius: 5px;
}

.list_item:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 110px;
    margin-right: 170px;
    font-family: "Cookie", cursive;
    font-size: 60px;
    background-image: url(./images/logo-bg.png);
}

.nav_link {
    text-decoration: none;
    color: white;
}

.list_item.active, .list_item:not(:first-child):hover {
    background-color: #881D1D;
    box-shadow: 0 0 10px #ffffff4d;
}

.list_item:not(:first-child) {
    transition: background-color 300ms, box-shadow 300ms;
}

.banner {
    padding: 32px 0;
    background: url(./images/banner-wrapper-bg.png);

}

.banner-content {
    /* width: 960px; */
    height: 295px;
    border-radius: 9px;
    margin: auto;
}

.banner_img {
    width: 100%;
    border-radius: 9px;
}

.banner_img_caption {
    position: relative;
    bottom: 74px;
    height: 74px;
    padding: 17px 0;
    background: url(./images/banner-caption-bg.png) no-repeat 0 0 / 100%;
    text-align: center;
    font-family: 'Cookie', cursive;
    font-size: 35px;
    color: white;
    border-radius: 0 0 9px 9px;
}

.main_sidebar_wrapper {
    background-image: url(./images/page-wrapper-bg.png);
}

.section_heading {
    display: none;
}

.main {
    display: flex;
    padding: 30px 0;
}

.post {
    margin: 0 0;
    width: 630px;
    padding: 30px 0;
    background-color: white;
    border-radius: 5px;
    font-family: 'Arvo', serif;
}

.post_info {
    height: 38px;
    padding: 0 30px;
    line-height: 38px;
    letter-spacing: -1px;
    background: url(./images/post-posted-bg.png) no-repeat;
    color: white;
}
.post_body, .post_footer {
    padding: 0 30px;
}

.post_author {
    text-decoration: underline;
    cursor: pointer;
}

.post_title {
    font-size: 34px;
    font-weight: 400;
    color: #4E2B22;
    letter-spacing: -2px;
    margin: 30px 0 20px;
}

.post_img {
    border-radius: 5px;
    margin-bottom: 25px;
}

.post_text {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 13px;
    color: #333;
    line-height: 1.9;
}

.post_meta{
    display: flex;
    justify-content: space-between;
    color: #572F26;
    background: url(./images/posted-meta-bg.png);
    padding: 23px 25px;
    margin-top: 30px;
}

.post_meta_categories {
    display: flex;
}

.post_meta_categories_list {
    display: flex;
    list-style-type: none;
    margin-left: 4px;
}

.sidebar {
    color: #e1c9c4;
    border-radius: 8px;
    margin-left: 25px;
    width: 300px;
    background-image: url(/images/p.png);
    size: 300 712;
}

header sayt{    /* height: 15px; */
    background-image: url(/images/sidebar-bg-01.png);
}

.sidebar-text, article p{
    line-height: 190%;
}
.sidebar-text, .sidebar-list {
    width: 240px;
    font-size: 15px;
    padding-left: 35;
}

#sidebar-header{
    padding-left: 35px;
    font-family: 'Arvo', serif;
    font-size: 16px;
    line-height: 38px;
    font-weight: normal;
    margin-top: 25px;
    color: #fff;
    background-image: url(/images/sidebar-title-bg.png);
    margin-bottom: 20px;
    width: 330px;
    height: 38px;
}

/* .list_item.active {}
.list_item .active {}
.list_item > .active {}
.list_item, .active {}
.list_item + .active {}
.list_item ~ .active {} */

.padding-left-35{
    line-height: 27px;
    padding-left: 35px;
    padding-right: 25px;
}

.li-style{
    border-bottom: #333 solid 1px;
    margin-right: 30px;
    list-style-type: none;
}

a {
    text-decoration: none !important;
    color: #f8efefe7;
}

.footer_bar{
    background-image: url(/images/footer-bg.png);
    text-align: center;
}
.f_head{
    height: 15px;
    background-image: url(/images/footer-content-bg-02.png);
}
.foot{
    background-image: url(/images/footer-content-bg.png);
    padding: 28px;
    margin: auto;
}
.item{
    box-sizing: border-box;
    border: 3px solid #4f2922;
    border-radius: 6px;
    background-color: #512b23;
    display: inline-block;
    width: 296px;
    color: #ffffff;
    padding: 20px 30px 10px 30px;
    margin-right: 30px;
}
.item_h3{
    color: #e1c9c4;
    font-family: 'Arvo', serif;
    font-size: 16px;
    padding-bottom: 20px;
}
.item_p{
    color: #e1c9c4;
    line-height: 190%;
    font-size: 16px;
    text-align: center;
}
.fooot{
    padding: 36px 20px 20px 50px;
    height: 130px;
    text-align: center;
    color: #784f45;
    background-image: url(/images/footer-bg.png);
}
